.navbar{
 height: 80px;
 .wrapper{
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .item {
   display: flex;
   align-items: center;
   font-size: 18px;
  } // end item

  .left {
    display: flex;
    align-items: center;
    gap: 25px;
  } // left

  .center {
    font-size: 30px;
    letter-spacing: 2px;
  } // center 

  .right {
  display: flex;
  align-items: center;
  gap: 25px;

  .icons {
   display: flex;
   gap: 15px;
   color: #777;
   cursor: pointer;

   .cardIcon {
    position: relative;
    span {
     font-size: 12px;
     width: 20px;
     height: 20px;
     border-radius: 50% ;
     -webkit-border-radius: 50% ;
     -moz-border-radius: 50% ;
     -ms-border-radius: 50% ;
     -o-border-radius: 50% ;
     background-color: #2879fe;
     color: white;
     position: absolute;
     right: -10px;
     top: -10px;
     display: flex;
     justify-content: center;
     align-items: center;
} // span

   } // cardIcon

  } // end icons

  } // right

 } // wrapper
} // navbar